In [5]:
a=(1,2,3)*3
b=(1,)*3
print(a,b)
print(len(a),a.count(2),a.index(3))

(1, 2, 3, 1, 2, 3, 1, 2, 3) (1, 1, 1)
9 3 2

In [14]:
from collections import namedtuple
Student = namedtuple('_Student', 'name age')#括号里的student不起作用
tom = Student('tom', 20)
jerry = Student('jerry', 18)
print(tom.name,tom.age)
print(tom)

tom 20
_Student(name='tom', age=20)

In [13]:
from collections import namedtuple
Point = namedtuple('_Point',['x','y']) # Point为返回的类
p = Point(11, 22)
print(p)

_Point(x=11, y=22)

In [17]:
s4 = 'hello \n magedu.com'
s5 = 'hello \t magedu.com'
s6 = 'hello \\n magedu.com'
print(s4)
print(s5)
print(s6)

hello
 magedu.com
hello 	 magedu.com
hello \n magedu.com

In [25]:
lst = ['1',['a','b'],'3']
print(" ".join(lst))

TypeError: sequence item 1: expected str instance, list found

In [21]:
lst = ['1','2','3']
print("\"".join(lst)) # 分隔符是双引号
print(" ".join(lst))
print("\n".join(lst))

1"2"3
1 2 3
1
2
3

In [36]:
s1 = "I'm \ta super student."
s1.split()
s1.split('s')
s1.split('super')

["I'm \ta ", ' student.']

In [46]:
print('www.magedu.com\n'.replace('w','p'),
'www.magedu.com\n'.replace('w','p',2),
'www.magedu.com\n'.replace('w','p',3),
'www.magedu.com\n'.replace('ww','p',2),
'www.magedu.com\n'.replace('www','python',2))

ppp.magedu.com
 ppw.magedu.com
 ppp.magedu.com
 pw.magedu.com
 python.magedu.com

In [52]:
s = "I am very very very sorry"
s.rfind('very',-10,-1)

15

In [51]:
s.rfind('very', 10)

15

In [57]:
s = "I am very very very sorry"
print(s.endswith('sorry', 5, -1))
print(s.endswith('sorr', 5, -1))

False
True

In [68]:
'abc'.islower()
'abc'.isupper()
'5'.isdigit()

False

In [70]:
from collections import namedtuple
Point = namedtuple('Point','x y')
p = Point(4,5)
print(p)
"{{{0.x},{0.y}}}".format(p)

Point(x=4, y=5)

'{4,5}'

In [1]:
import random
nums=[]
for _ in range(10):
    nums.append(random.randrange(21))
print(nums)

[16, 8, 5, 8, 8, 3, 20, 3, 1, 15]